.local/
*.o
push_swap
*.a
42006/repo/actual/.vscode/c_cpp_properties.json
.gitignore
42006/repo/actual/.vscode/settings.json
42006/repo/actual/.vscode/launch.json
42006/resources/minilibx-linux
42006/repo/actual/fdf

42006/BIFROST
42006/VALHALL
42006/HEIMDAL
42006/ODIN
42005/autopsies
42005/_tester

42005/autopsies/siezer
42005/actual/test

